<HeadlessForm
  @data={{this.data}}
  @validateOn='blur'
  @onSubmit={{this.doSomething}}
  as |form|
>
  <form.field @name='name' as |field|>
    <field.label>Name</field.label>
    <field.input required />
    <field.errors />
  </form.field>

  <button type='submit'>Submit</button>
  {{! <form.submitButton>Submit</form.submitButton> }}
</HeadlessForm>