<form ...attributes {{on 'submit' this.onSubmit}}>
  {{yield
    (hash
      field=(component
        (ensure-safe-component this.FieldComponent)
        data=this.internalData
        set=this.set
        errors=this.errors
        registerField=this.registerField
        unregisterField=this.unregisterField
      )
    )
  }}
</form>